# Cache
__pycache__
external/*.*
!external/*.m
!external/*.md

# IDE
.vscode
.idea
*.iml

# Database
*.nb
*.mx
*-base.csv

# RAR
*.zip
*.tar
*.gz
*.rar

# Picture
*.jpg
*.jpeg
*.bmp
*.png

#node
node_modules/
yarn.lock

#output
dist